POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=small-cdn
POSTGRES_ADDR=db
POSTGRES_PORT=5432
ACCESS_SECRET_KEY=skdfjh98344nf3wn93f
REFRESH_SECRET_KEY=slakdjf93nfuhpqokapsdm023
GOPROXY=https://goproxy.io,direct
REDIS_ADDR=redis-auth
REDIS_PORT=6379
